name: CI/CD MLflow

permissions:
  contents: write

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CONDA_ENV_NAME: mlflow-env
  CONDA_ENV_PATH: MLproject/conda.yaml
  DOCKER_IMAGE_NAME: mpg 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Checkout Kode
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Conda
      - name: Set up Conda & Install Dependencies
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.12.7'
          activate-environment: ${{ env.CONDA_ENV_NAME }}
          environment-file: ${{ env.CONDA_ENV_PATH }}
          auto-activate-base: false

      # 3. Run MLflow Project
      - name: Run MLflow Project
        run: |
          conda run -n ${{ env.CONDA_ENV_NAME }} mlflow run MLproject

      # 4. Get Latest MLflow run_id
      - name: Get latest MLflow run_id
        id: get_run_id
        run: |
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)

          if [ -z "$RUN_ID" ]; then
            echo "FATAL ERROR: RUN_ID tidak ditemukan."
            exit 1
          fi

          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      # 5. Push MLflow Artifacts to Repo
      - name: Push MLflow Artifacts to Repo
        run: |
          # Set author commit
          git config --global user.name "maxwell-github-actions[bot]"
          git config --global user.email "maxwell[bot]@users.noreply.github.com"

          # Add mlruns (force)
          git add -f mlruns/

          # Commit jika ada perubahan
          git commit -m "Add MLflow artifacts for run $RUN_ID" || echo "No changes to commit"

          # Push menggunakan GITHUB_TOKEN
          git push https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main

      # 6. Build Docker Model
      - name: Build Docker Model
        run: |
          conda run -n ${{ env.CONDA_ENV_NAME }} mlflow models build-docker \
            --model-uri "runs:/$RUN_ID/model" \
            --name ${{ env.DOCKER_IMAGE_NAME }}

      # 7. Login Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # 8. Tag Docker Image
      - name: Tag Docker Image
        run: |
          docker tag ${{ env.DOCKER_IMAGE_NAME }} \
            ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest

      # 9. Push Docker Image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest
